h1 {
    color:rgb(250, 215, 242);
    font-size: 36px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}
* {
    background-color:rgb(10,7,42)
}

h2 {
    color:rgb(250, 215, 242);
    font-size: 24px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    display: flex;
    flex: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}
.ingredients {
    display: flex;
    flex-direction:column;
    flex: auto;
    color:white;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: left
}

.directions {
   display: flex;
   flex: auto;
   flex-direction: column;
    color:white;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:left;
   
}

.links {
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex: auto;
    border: 5px rgb(250, 215, 242) solid;
    display: flex;
    align-items: center;
    justify-content: space-around
}

p {
    color:white;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    border-radius:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:0;
    Border:5px rgb(250, 215, 252) solid;
}

a:link {
    color:rgb(250, 215, 242)
}

a:visited {
    color:rgb(244, 142, 220)
}

a:hover {
    color:rgb(184, 29, 29)
}
