h1 {
    color:rgb(250, 215, 242);
    font-size: 36px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}
* {
    background-color:rgb(10,7,42)
}

h2 {
    color:rgb(250, 215, 242);
    font-size: 24px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ingredients {
    color:white;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:left;
    margin-left:460px;
    margin-right: auto;

}

.directions {
    color:white;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:left;
   margin-left:250px;
   margin-right:250px;
}

.links {
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
}

p {
    color:white;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    border-radius:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color:rgb(250, 215, 242)
}

a:visited {
    color:rgb(244, 142, 220)
}

a:hover {
    color:rgb(184, 29, 29)
}
