h1 {
    color:rgb(250, 215, 242);
    font-size: 36px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center

}

a:link {
    color:rgb(250, 215, 242)
}

a:visited {
    color:rgb(244, 142, 220)
}

a:hover {
    color:rgb(184, 29, 29)
}

* {
    background-color:rgb(10, 7, 42)
}

li {
    color:rgb(250, 215, 242);
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 450px;
    margin-right:auto;
}

img {
    border-radius:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 5px rgb(250, 215, 242) solid


}