h1 {
    color:rgb(250, 215, 242);
    font-size: 36px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center
}

p {
    color:rgb(250, 215, 242);
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:link {
    color:rgb(250, 215, 242)
}

a:visited {
    color:rgb(250, 215, 242)
}

a:hover {
    color:rgb(184, 29, 29)
}

* {
    background-color:rgb(10, 7, 42)
}

li {
    color:rgb(250, 215, 242);
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 25px;
    margin-bottom: 25px;
}

img {
    border-radius:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 5px rgb(250, 215, 242) solid
}

.container {
    flex: auto;
    border: 5px rgb(250, 215, 242) solid;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.nav-bar {
    flex:auto;
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    list-style-type:none;
}

#about {
    background-color:rgb(10, 7, 42);
    padding: 10px;
    font-size: 18px;
}

#contact {
    background-color:rgb(10, 17, 42);
    padding: 10px;
    font-size: 18px;
}